
    .thumbnail{
     width:100%;
    }
   
    .vedio-title{
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .vedio-author , .vedio-stats{
      font-size: 12px;
      color: 
      rgb(69,69,69);
    }
    .vedio-author{
      margin-bottom: 4px;
    }
    
    .vediogrid{
      display: grid;
      grid-template-columns: 50px 1fr;
    }
    .propic{
      width: 36px;
      border-radius: 50px;
    }
    .thumrow{
      margin-bottom: 8px;
      position:relative;
    }
   .vedio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;

   }
   @media (max-width: 750px){
    .vedio-grid{
      grid-template-columns: 1fr 1fr;
    }
   }

   
   @media(min-width: 751px ) and (max-width: 999px){
    .vedio-grid{
      grid-template-columns: 1fr 1fr 1fr;
    }
   }


   @media (min-width: 1000px){
    .vedio-grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
   }
   .vediotime{
    font-family: Roboto ,Arial;
    font-size: 12px;
    font-weight: 500;
   padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    bottom:8px;
    right: 5px;
    position:absolute;

   }